.checkoutProduct__star {
  color: gold
}

.checkoutProduct__image {
  height: 180px;
  width: 180px;
}

.checkoutProduct__image img {
  height: 180px;
  width: 180px;
  object-fit: contain;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px;
}

.checkoutProduct__price {
  margin-top: 5px;
}

.checkoutProduct button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;

}

@media only screen and (max-width: 900px) {
  .checkoutProduct__title {
    font-size: 15px;
    font-weight: 800;
  }
}

@media only screen and (max-width: 500px) {
  .checkoutProduct__title {
    font-size: 14px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 450px) {
  .checkoutProduct__title {
    overflow: hidden;

    max-height: 10ch;

  }
}